header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0%;
}

nav .profile {
    display: flex;
    align-items: center; 
}

nav ul li {
    font-family: "raleway";
    margin: 10px 50px 1px; 
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

nav .profile {
    display: flex;
    align-items: center; 
}

/* Dimension monogramme */
nav .profile img {
    width: 50px;
    margin-top: 20px;
    margin-left: 50%;
} 

nav ul {
    display: flex;
    list-style-type: none;
    
}

nav ul li:hover {
    border-bottom-color: #B7539B;
}

.liens a {
    text-decoration: none;
    color: black;
}

/* Contenu de la page */

.page-content {
    margin: 4%;
}

.page-content p {
    color: black;
    font-size: 35px;
    font-family: 'basteleur';
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 44%;
    left: 8%;
}
.page-content b {
    color: gray;
    font-size: 20px;
    font-family: 'raleway';
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    left: 35.5%;
    
}
.profile a {
    display: block; 
    text-decoration: none; 
    color: inherit;
}

/* Carrousel */
.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 14 / 8;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none;
    transition: .5s ease-in-out;

}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
    transition-duration: 10s;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 12s;
}

.slider-nav a:hover {
	opacity: 1;
    
}


/* Styles responsives */
@media screen and (max-width: 700px) {
    
    nav {
        justify-content: center;
    }
    nav ul {
        font-display: 40%;
    }


    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }
    .page-content .project-section {
        margin-top: 15%;
    }

    .page-content .project-section p {
        font-size: 1.5em;
    }
}

